{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Batman</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint provident ducimus ab, perferendis, deserunt voluptas officia impedit accusamus quod deleniti quae. Eligendi sequi mollitia incidunt laborum officia eos porro nulla?
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/batman.png" alt="img-thumbnail">
    </div>
</div>

{{> footer}}